html, body{
  font-family: 'Fjalla One', sans-serif;
}

.name{
  color: black;
  padding: 80px ;
  letter-spacing: 5px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 400%;
}

#toMain{
  color:black;
  text-decoration: none;
}

.dropdown{
  display: block;
}

.dropbtn{
  color: black;
  font-size: 200%;
  border: none;
  font-family: 'Fjalla One', sans-serif;
  display: block;
  background-color: inherit;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 170px;
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 150%;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn{
  background-color: white;
}

.aboutme{
  font-size: 200%;
  margin-left: 20px;
}

 .contactme {
  font-size: 200%;
  margin-left: 20px;
}

.aboutme a, .contactme a{
  text-decoration: none;
  color: black;
  padding: 5px;
}

.social .end {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.logo{
  height: 30px;
  margin-right: 15px;
}

.dropdownSport{
  display: block;
  margin-left: 20px;
}

.dropbtnSport{
  color: black;
  font-size: 200%;
  border: none;
  font-family: 'Fjalla One', sans-serif;
  display: block;
  background-color: inherit;
}

.dropdownSport-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 170px;
  z-index: 1;
}

.dropdownSport-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 150%;
}

.dropdownSport-content a:hover {
  background-color: white;
}

.dropdownSport:hover .dropdownSport-content{
  display: block;
}

.dropdownSport:hover .dropbtnSport{
  background-color: white;
}

.navigation-bar{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0 auto;
  justify-content: flex-start;
}

.dossier{
  font-size: 125%;
  height: 600px;
  display: block;
}

/* .dossier p {
  width: 600px;
} */

.me{
  display: block;
}

.mePhoto{
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: 0;
  border-color: black;
}

/*============================================================================*/
.myBio{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1em;
  margin-bottom: 60px;
}

.dossierText{
  margin-top: 13px;
  height: 600px;
  width: 600px;
  font-family: 'Roboto', sans-serif;
}
